.message_list
  .message_list_header
    .message_list_header_text
      %h1 Well done list

  .message_list_done
    - @messages.each do |message|
      .message_list_done__careated_at
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .message_list_done__process
        = message.content

  .message_list_top
  = link_to "報酬一覧へ", reward_path(current_user), class: 'btn'
        