.achievement_new
  .achievement_new__form
    .achievement_new__form__texts
      達成おめでとうございます。新しい報酬を設定してください
    .achievement_new__form__text__item
      =form_for (@reward) do |f|
        = f.text_field :name, class: "chat-reward-form__input"
        = f.hidden_field :user_id, value: current_user.id 
        = f.submit "Save", class: "chat-reward-form__action-btn"

  -# - @rewards.each do |reward|
  -#   .main-leftbox-content__process
  -#     = reward.name
  