h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}



* {
  box-sizing: border-box;
}

.wrapper{
height:100vh;
font-family: "游ゴシック体", YuGothic;
  .header{
  height:100px;
  width:100vw;
    &-top{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 10px 50px;

      &__right-text{
      height: 60px;
      font-size: 40px;
      margin-top: 10px;
      }
      &__left-text{
      background-color: rgba(168, 235, 235, 0.521)13d4;
      height:40px;
      text-align: center;
      line-height: 40px;
      margin-top: 10px;
      }
    }
    &-sub{
    display: flex;
    float: right;
    background-color: rgba(168, 235, 235, 0.521)17ca;
    margin-right: 20px;
      &__mypage{

      }
      &__cog{
      padding-left: 20px;
        & a{
        color: #140606;
        }
      }
    }

  }
  .main{
  height:100vh;
  width:100vw;
  display: flex;
  height:calc(100vh - 100px);
    &-leftbox{
    width:calc(100vw - 600px);
    background-color: #e2ecec;
    padding: 20px 40px;
      &-content{
      background-color: #ffffff;
      height:70vh;
        &__careated_at{

        }
        &__process{

        }
      }
      &-form{
      margin-top: 20px;
      display: flex;
      height:60px;
        &__text{
        width:100vw;
        }
        &__btn{
        background-color: #dd16d3;
        width:30vh;
        }
      }
    }
    &-rightbox{
    width:600px;
    background-color: #ffffff;
    padding: 20px 40px;
      &-reward{
      background-color: #ada6a6;
      height:70px;
      padding: 20px;
        &_cog{
        }
        a{
          color: #ffffff;
        }
        
        &__achievement{
          display: flex;
          float: right;
          margin-right: 30px;
          font-size: 20px;
        }
      }
      &-data{
      background-color: #c6e7c3;
      height:73vh;
      margin-top: 20px;
      padding: 30px 40px;
        &__glaf {

        }
        &__achievement{
        background-color: #ffffff;
        height:60px;
        width:80px;
        float: right;
        margin-top: 20px;
        }
      }

    }
  }

 
}

// a{
//   color:#ffffff;
// }
